#img-caption {
  font-style: italic;
  text-align: center;
}
#tribute-info {
  font-family: Oswald, serif;
  line-height: 1.6;
  /* width: 50%; */
  margin: auto;
  text-align: justify;
  background-color: hsl(61deg, 100%, 97%);
  border: 2px solid hsl(61deg, 90%, 90%);
  padding: 5% 10% 5% 10%;
}
.date {
  font-weight: bolder;
}
#main {
  width: 75%;
  height: 100%;
  margin: auto;
  display: block;
  text-align: center;
}
#title {
  text-align: center;
}
#image {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.link{
  font-weight: bolder;
}
h1{
  font-family: Oswald, serif;
  font-size: 26px;
}
